src/main/mule/capstone.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="df4ab64b-fa33-41cb-9ade-29274ede4fe4" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<http:request-config name="Zomato" doc:name="HTTP Request configuration" doc:id="c72b8bbf-0984-47f1-8d00-1fdd5f73519c" basePath="/api" >
		<http:request-connection protocol="HTTPS" host="developers.zomato.com" port="443" />
	</http:request-config>
	<http:request-config name="OpenWeather" doc:name="HTTP Request configuration" doc:id="a3f4dda2-323c-4dfa-b3a5-1140364eb307" >
		<http:request-connection host="api.openweathermap.org" port="80" />
	</http:request-config>
	<http:request-config name="Google" doc:name="HTTP Request configuration" doc:id="b8955f3d-0feb-4312-8b87-6cfac054bd34" >
		<http:request-connection protocol="HTTPS" host="maps.googleapis.com" port="443" />
	</http:request-config>
	<http:request-config name="BingNews" doc:name="HTTP Request configuration" doc:id="ac7ce2f6-cf68-40d0-86be-b4f0a2fbd78d" >
		<http:request-connection host="api.cognitive.microsoft.com" port="443" protocol="HTTPS"/>
	</http:request-config>
	<flow name="capstoneFlow" doc:id="ae561a3f-b61a-444e-8a4e-5d3b7245ab00" >
		<http:listener doc:name="Listener" doc:id="0e6eb0bf-603e-4c21-87e8-c28f6a049790" config-ref="HTTP_Listener_config" path="/capstone"/>
		<ee:transform doc:name="Format Payload" doc:id="79331882-652b-4e1c-9839-6bb8009d516f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Set Variables" doc:id="e60280f1-ad19-4b9a-8096-69a41dbdc78d">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="TripDate"><![CDATA[%dw 2.0
output application/java
---
payload.TripDate]]></ee:set-variable>
				<ee:set-variable variableName="TripAddress"><![CDATA[%dw 2.0
output application/java
---
payload.TripAddress]]></ee:set-variable>
				<ee:set-variable variableName="TripCity"><![CDATA[%dw 2.0
output application/java
---
payload.TripCity]]></ee:set-variable>
				<ee:set-variable variableName="TripState"><![CDATA[%dw 2.0
output application/java
---
payload.TripState]]></ee:set-variable>
				<ee:set-variable variableName="TripZip"><![CDATA[%dw 2.0
output application/java
---
payload.TripZIP]]></ee:set-variable>
				<ee:set-variable variableName="Trip" ><![CDATA[%dw 2.0
output application/java
---
payload.TripAddress ++ payload.TripCity ++ "," ++ payload.TripState replace " " with ""]]></ee:set-variable>
				<ee:set-variable variableName="FromDate" ><![CDATA[%dw 2.0
output application/java
---
payload.FromDate]]></ee:set-variable>
				<ee:set-variable variableName="FromCity" ><![CDATA[%dw 2.0
output application/java
---
payload.FromCity]]></ee:set-variable>
				<ee:set-variable variableName="FromAddress" ><![CDATA[%dw 2.0
output application/java
---
payload.FromAddress]]></ee:set-variable>
				<ee:set-variable variableName="FromState" ><![CDATA[%dw 2.0
output application/java
---
payload.FromState]]></ee:set-variable>
				<ee:set-variable variableName="FromZIP" ><![CDATA[%dw 2.0
output application/java
---
payload.FromZIP]]></ee:set-variable>
				<ee:set-variable variableName="FromTrip" ><![CDATA[%dw 2.0
output application/java
---
payload.FromAddress ++ payload.FromCity ++ "," ++ payload.FromState replace " " with ""]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4f35480e-f3a1-4245-8d04-aabde1f6003e" message="#[payload] #[vars.TripDate] #[vars.TripAddress] #[vars.TripCity] #[vars.TripState] #[vars.TripZIP]" />
		<http:request method="GET" doc:name="Zomato City ID Request" doc:id="e9e2c3b0-d6c5-4894-bada-ec4cc3f811d4" config-ref="Google" path="/maps/api/geocode/json">
			<http:query-params><![CDATA[#[output application/java
---
{
	address : vars.TripAddress ++ vars.TripCity ++ vars.TripState ++ vars.TripZIP,
	"key" : "AIzaSyCsYBDtlh1zL2J9oYdGcNx-VkY_ZQXgRVY"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Format Payload" doc:id="f87c1d12-a3aa-4dff-ae38-dd75f05bacb7">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---

payload

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Set Long and Lat" doc:id="acc9b94e-6a0f-4ecb-84e3-e8a9d081d2ba">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="Lat"><![CDATA[%dw 2.0
output application/java
---
payload.results.geometry.location.lat[0]]]></ee:set-variable>
				<ee:set-variable variableName="Lon"><![CDATA[%dw 2.0
output application/java
---
payload.results.geometry.location.lng[0]]]></ee:set-variable>
				<ee:set-variable variableName="Rad" ><![CDATA[%dw 2.0
output application/java
---
16093.4 ]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Zomato Resturant Request" doc:id="1cb2cca1-56d1-446f-8bea-b2a2658e93ea" config-ref="Zomato" path="/v2.1/search">
			<http:headers ><![CDATA[#[output application/java
---
{
	"user-key" : "445541315f9cf4a2b04e65792b711775"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"lat" : vars.Lat,
	"lon" : vars.Lon,
	"radius" : vars.Rad
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="fa6c00bf-6c42-48de-90f0-db8388191e90" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="87c63b9b-5bd3-425b-961e-d2ae36066575" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="BestName1" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[0][0].name]]></ee:set-variable>
				<ee:set-variable variableName="BestName2" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[1][0].name]]></ee:set-variable>
				<ee:set-variable variableName="BestName3" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[2][0].name]]></ee:set-variable>
				<ee:set-variable variableName="BestName4" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[3][0].name]]></ee:set-variable>
				<ee:set-variable variableName="BestImg1" ><![CDATA[%dw 2.0
output application/java
---
if (payload.restaurants[0][0].thumb == "") "https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569_960_720.jpg" else payload.restaurants[0][0].thumb]]></ee:set-variable>
				<ee:set-variable variableName="BestImg2" ><![CDATA[%dw 2.0
output application/java
---
if (payload.restaurants[1][0].thumb == "") "https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569_960_720.jpg" else payload.restaurants[1][0].thumb]]></ee:set-variable>
				<ee:set-variable variableName="BestName5" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[4][0].name]]></ee:set-variable>
				<ee:set-variable variableName="BestName6" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[5][0].name]]></ee:set-variable>
				<ee:set-variable variableName="BestImg3" ><![CDATA[%dw 2.0
output application/java
---
if (payload.restaurants[2][0].thumb == "") "https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569_960_720.jpg" else payload.restaurants[2][0].thumb]]></ee:set-variable>
				<ee:set-variable variableName="BestImg4" ><![CDATA[%dw 2.0
output application/java
---
if (payload.restaurants[3][0].thumb == "") "https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569_960_720.jpg" else payload.restaurants[3][0].thumb]]></ee:set-variable>
				<ee:set-variable variableName="BestImg5" ><![CDATA[%dw 2.0
output application/java
---
if (payload.restaurants[4][0].thumb == "") "https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569_960_720.jpg" else payload.restaurants[4][0].thumb]]></ee:set-variable>
				<ee:set-variable variableName="BestImg6" ><![CDATA[%dw 2.0
output application/java
---
if (payload.restaurants[5][0].thumb == "") "https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569_960_720.jpg" else payload.restaurants[5][0].thumb]]></ee:set-variable>
				<ee:set-variable variableName="BestAdd1" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[0][0].location.address]]></ee:set-variable>
				<ee:set-variable variableName="BestAdd2" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[1][0].location.address]]></ee:set-variable>
				<ee:set-variable variableName="BestAdd3" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[2][0].location.address]]></ee:set-variable>
				<ee:set-variable variableName="BestAdd4" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[3][0].location.address]]></ee:set-variable>
				<ee:set-variable variableName="BestAdd5" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[4][0].location.address]]></ee:set-variable>
				<ee:set-variable variableName="BestAdd6" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[5][0].location.address]]></ee:set-variable>
				<ee:set-variable variableName="BestPh1" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[0][0].phone_numbers]]></ee:set-variable>
				<ee:set-variable variableName="BestPh2" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[1][0].phone_numbers]]></ee:set-variable>
				<ee:set-variable variableName="BestPh3" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[2][0].phone_numbers]]></ee:set-variable>
				<ee:set-variable variableName="BestPh4" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[3][0].phone_numbers]]></ee:set-variable>
				<ee:set-variable variableName="BestPh5" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[4][0].phone_numbers]]></ee:set-variable>
				<ee:set-variable variableName="BestPh6" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[5][0].phone_numbers]]></ee:set-variable>
				<ee:set-variable variableName="BestMenu1" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[0][0].menu_url]]></ee:set-variable>
				<ee:set-variable variableName="BestMenu2" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[1][0].menu_url]]></ee:set-variable>
				<ee:set-variable variableName="BestMenu3" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[2][0].menu_url]]></ee:set-variable>
				<ee:set-variable variableName="BestMenu4" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[3][0].menu_url]]></ee:set-variable>
				<ee:set-variable variableName="BestMenu5" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[4][0].menu_url]]></ee:set-variable>
				<ee:set-variable variableName="BestMenu6" ><![CDATA[%dw 2.0
output application/java
---
payload.restaurants[5][0].menu_url]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="dffe010d-4fcd-40dd-9d5b-c479be8d793c" config-ref="OpenWeather" path="/data/2.5/weather">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"appid" : "130dfffc6f431c796a3b656d4d8c6893",
	"q" : vars.TripCity,
	"units" : "imperial"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="67444e4e-1d82-49f9-a17c-279869aab451" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="d47e34b0-fc4b-4adc-902c-a71309379776" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="IconNumber" ><![CDATA[%dw 2.0
output application/java
---
payload.weather[0].icon
]]></ee:set-variable>
				<ee:set-variable variableName="WeatherDesc" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
---
capitalize (payload.weather.description[0])]]></ee:set-variable>
				<ee:set-variable variableName="Temp" ><![CDATA[%dw 2.0
output application/java
---
payload.main.temp ]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-variable value='#["http://openweathermap.org/img/wn/" ++ vars.IconNumber ++ "@2x.png"]' doc:name="Set Variable" doc:id="3b120861-a745-4c38-8eae-14cc354f758c" variableName="IconURL"/>
		<http:request method="GET" doc:name="Request" doc:id="87aa80a0-74a8-4246-ac2e-f5a267680f31" config-ref="BingNews" path="/bing/v7.0/news/search" outputMimeType="application/json" sendBodyMode="ALWAYS">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Ocp-Apim-Subscription-Key" : "438b7f0a55c6447e85a9528c07a7d419"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"q" : vars.TripCity ++ " " ++ vars.TripState
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="1d7b409c-b00a-4117-a38f-c7a2146ca332" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="e9f7c742-d26e-4470-a03e-11db2d585d77" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="ArticleName1" ><![CDATA[%dw 2.0
output application/java
---
payload.value[0].name]]></ee:set-variable>
				<ee:set-variable variableName="ArticleName2" ><![CDATA[%dw 2.0
output application/java
---
payload.value[1].name]]></ee:set-variable>
				<ee:set-variable variableName="ArticleName3" ><![CDATA[%dw 2.0
output application/java
---
payload.value[2].name]]></ee:set-variable>
				<ee:set-variable variableName="ArticleImg1" ><![CDATA[%dw 2.0
output application/java
---
if (payload.value[0].image.thumbnail.contentUrl  == null) "https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569_960_720.jpg" else payload.value[0].image.thumbnail.contentUrl]]></ee:set-variable>
				<ee:set-variable variableName="ArticleImg2" ><![CDATA[%dw 2.0
output application/java
---
if (payload.value[1].image.thumbnail.contentUrl  == null) "https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569_960_720.jpg" else payload.value[1].image.thumbnail.contentUrl]]></ee:set-variable>
				<ee:set-variable variableName="ArticleImg3" ><![CDATA[%dw 2.0
output application/java
---
if (payload.value[2].image.thumbnail.contentUrl == null) "https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569_960_720.jpg" else payload.value[2].image.thumbnail.contentUrl]]></ee:set-variable>
				<ee:set-variable variableName="ArticleLink1" ><![CDATA[%dw 2.0
output application/java
---
payload.value[0].url]]></ee:set-variable>
				<ee:set-variable variableName="ArticleLink2" ><![CDATA[%dw 2.0
output application/java
---
payload.value[1].url]]></ee:set-variable>
				<ee:set-variable variableName="ArticleLink3" ><![CDATA[%dw 2.0
output application/java
---
payload.value[2].url]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8ec291fa-6935-4165-97cd-c67496d6628e" message="#[vars.IconURL]"/>
		<parse-template doc:name="Parse Template" doc:id="32befb37-124c-47e2-87f0-589e0582b2a5" location="web\index.html"/>
		
	</flow>
</mule>
